<template name="layout">
  {{#if requireLogin}}
    {{#unless loggingIn}}
      {{#if currentUser}}
        {{> layoutContent}}
      {{else}}
        {{> accessDenied}}
      {{/if}}
    {{else}}
      {{> loading}}
    {{/unless}}
  {{else}}
    {{> layoutContent}}
  {{/if}}
</template>

<template name="layoutContent">
  {{#if subsReady 'posts'}}
    {{#if hasData}}
      {{#with data}}
        <div class="container">
          {{> header}}
          <div id="main">
            {{> Template.dynamic template=../mainContent}}
          </div>
        </div>
      {{else}}
        {{> notFound}}
      {{/with}}
    {{else}}
      <div class="container">
        {{> header}}
        <div id="main">
          {{> Template.dynamic template=mainContent}}
        </div>
      </div>
    {{/if}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>
